<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blank</title>
    <style>
        /* Definiowanie czcionki z lokalnego pliku .otf */
        @font-face {
            font-family: 'MyCustomFont'; /* Nazwa czcionki */
            src: url('/fonts/cz.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        /* Zastosowanie niestandardowej czcionki do klasy */
        .custom-font {
            font-family: 'MyCustomFont', sans-serif; /* Użycie czcionki */
            font-size: 36px
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {},
            plugins: [require('daisyui')],
            daisyui: {
                themes: ["dracula", "dim", "forest", "dark", "cyberpunk"],
            }
        };
    </script>
</head>
<body class="bg-black-50">
<header class="navbar bg-primary text-primary-content">
    <div class="flex-1">
        <a th:href="@{/}" class="btn btn-ghost normal-case text-xl custom-font" style="font-size: 40px">Siłownia Pompa</a>
    </div>
    <div class="flex-none">
        <a class="btn btn-ghost" th:href="@{oferta}">Oferta</a>
        <button class="btn btn-ghost">Kontakt</button>
<!--        może zmienić coś z tym-->
        <a class="btn btn-ghost" href="login.html">Wyloguj się</a>

    </div>
</header>

<main class="container mx-auto p-6">
    <section class ="grid grid-cols-2 md:grid-cols-1 gap-20 my-10 ">
        <div class="avatar">
            <div class="w-24 rounded">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
            </div>
        </div>
        <div class="label-text custom-font w-full">
            <label th:if="${username != null}" class="w-full" style="font-size: 90px" >Witaj <span th:text="${username}"></span>!</label>
        </div>
        <section class ="grid grid-cols-1 md:grid-cols-3 gap-20 my-10 ">
            <button class="btn btn-ghost p-0 hover:scale-105 transition-transform duration-300">
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img
                                src="/images/karta.jpg"
                                alt="Sprzęt" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Umowa i płatności</h2>
                        <p></p>
                    </div>
                </div>
            </button>
            <button class="btn btn-ghost p-0 hover:scale-105 transition-transform duration-300">
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img
                                src="/images/trening.jpg"
                                alt="Sprzęt" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Grafik treningów</h2>
                        <p></p>
                    </div>
                </div>
            </button>
            <button class="btn btn-ghost p-0 hover:scale-105 transition-transform duration-300">
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img
                                src="/images/sprzet2.jpeg"
                                alt="Sprzęt" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Twój sprzęt</h2>
                        <p></p>
                    </div>
                </div>
            </button>

        </section>
    </section>














    <footer class="footer bg-neutral text-neutral-content p-6">
        <div class="items-center grid-flow-col">
            <p>Siłownia Pompa &copy; 2025 - Wszystkie prawa zastrzeżone</p>
        </div>
        <div class="grid-flow-col gap-4 justify-self-end">
            <a href="#" class="btn btn-ghost">Polityka Prywatności</a>
            <a href="#" class="btn btn-ghost">Regulamin</a>
        </div>
    </footer>
</main>
</body>
</html>
